<div class="container">
  <h1 class="text-center">{{title}}</h1>
  <div class="col mb-5">
    <form class="form-group row">
      <div class="form-group col-md-4">
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" placeholder="Ingrese su nombre" class="form-control"
          [(ngModel)]="inputName">
      </div>
      <div class="form-group col-md-4">
        <label for="lastName">Apellido:</label>
        <input type="text" name="lastName" id="lastName" placeholder="Ingrese su apellido" class="form-control"
          [(ngModel)]="inputLastName">
      </div>
      <div class="form-group col-md-4">
        <label for="position">Cargo:</label>
        <input type="text" name="position" id="position" placeholder="Ingrese su cargo" class="form-control"
          [(ngModel)]="inputPosition">
      </div>
      <div class="form-group col-md-4">
        <label for="age">Edad:</label>
        <input type="number" min="0" max="130" name="age" id="age" placeholder="Ingrese su edad" class="form-control"
          [(ngModel)]="inputAge">
      </div>
      <div class="form-group col-md-4">
        <label for="salary">Salario:</label>
        <input type="number" min="0" name="salary" id="salary" placeholder="Ingrese su salario" class="form-control"
          [(ngModel)]="inputSalary">
      </div>
      <div class="form-group col-md-4">
        <label for="avatar">Link de Avatar:</label>
        <input type="text" name="avatar" id="avatar" placeholder="Ingrese el enlace de su avatar" class="form-control"
          [(ngModel)]="inputAvatar">
      </div>

      <div class="col mt-3">
        <button type="submit" class="btn btn-primary" (click)="addEmployee()">AGREGAR EMPLEADO</button>
      </div>
      <div class="col mt-3">
        <button type="submit" class="btn btn-danger" (click)="clearForm()">LIMPIAR</button>
      </div>
    </form>
  </div>

  <div class="row row-cols-4">
    <div class="col" *ngFor="let employee of employees">
      <picture>
        <img [src]="employee.avatar" alt="" class="rounded-circle" [ngClass]="getUserClass(employee.age)">
      </picture>
      <p>{{employee.name}} {{employee.lastName}}</p>
      <p>{{employee.position}}</p>
      <p>{{employee.age}}</p>
    </div>
  </div>
</div>